<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css.css')}}">
	<title>Apply Leave</title>

	<!-- nav bar -->
	<ul>
		<li><a href="/">Add Employee</a></li>
		<li><a href="/getemp">Search Employee</a></li>
		<li><a href="/leave">Apply Leave</a></li>
	</ul>
</head>
<center>
	<font color="black" style="font-family: avenir">
		<body style="background-image:url({{ url_for('static', filename='img/background.jpg')}})">
			<h1 style="color: brown;font-size: 50px;">Apply Leave</h1>
			<form action="/fetchdata" autocomplete="on" method="POST" style="background-image: url(formbackground.jpg);border-style:solid;border-radius: 20px;padding: 15px;width: fit-content;">
                    
				<h2>Enter Employee ID</h2><br><br>

		  		<a>Employee ID:</a><br>
                <input type="number" style="height:25px;font-size:14pt;font-size: 20px"  name="emp_id" autofocus size="40"><br><br>
				
				<a>Date to apply leave:</a><br>
                <input type="date" style="height:25px;font-size:14pt;font-size: 20px"  name="emp_id" autofocus size="40"> <br><br>
                
		  		<button class="button buttonadd" type="submit" formaction="http://3.134.115.108:80/"><b>APPLY</b></button><br><br>

                <a style="color:red;font-size:15px">**Note : The salary will be deduct based on the leave duration.</a>
			</form><br>
        </div>
		</body>
	</font>
</center>
</html>
