<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Apply Leave</title>

    <div class="navbar">
        <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
           
           <div class="dropdown">
               <button class="dropbtn">Employee Management
                   <i class="fa fa-caret-down"></i>
               </button>
                   <div class="dropdown-content">
                    <a href="/addempPage">Add Employee</a>
                    <a href="/getemp">Search Employee</a>
                   </div>
           </div>
           <div class="dropdown">
               <button class="dropbtn">Employee Checking
                   <i class="fa fa-caret-down"></i>
               </button>
                   <div class="dropdown-content">
                       <a href="/salary">Employee Salary Calculator</a>
                       <a href="/performance">Employee Performance Checking</a>
                   </div>
           </div>
           <div class="dropdown">
               <button class="dropbtn">Leave Management
                   <i class="fa fa-caret-down"></i>
               </button>
                   <div class="dropdown-content">
                       <a href="/leave">Apply Leave</a>
                       <a href="/attendance">Employee Leave Checking</a>
                   </div>
           </div>
           <a href="/aboutus">About Us</a>
    </div>
</head>
<center>
	<font color="black" style="font-family: avenir">
		<body style="background-image:url({{ url_for('static', filename='img/background.jpg')}})">
			<br><h1>Apply Leave</h1><br><br>
			<form action="/applyLeave" autocomplete="on" method="POST" style="background-image: url({{ url_for('static', filename='img/formbackground.jpg')}});border-style:solid;border-radius: 20px;padding: 25px;width: fit-content;">
                    
				<h2>Enter Employee ID</h2><br><br>

		  		<a>Employee ID:</a><br>
                <input name="id" type="number" style="height:25px;font-size:14pt;font-size: 20px"  name="emp_id" autofocus size="40" placeholder=" Employee ID"><br><br>
				
				<a>Date to apply leave:</a><br>
                <input name="date" type="date" style="height:25px;font-size:14pt;font-size: 20px"  name="emp_id" autofocus size="40"> <br><br>
                
		  		<button class="button buttonadd" type="submit">Apply</button><br><br>

                <a style="color:red;font-size:15px">**Note : The salary will be deduct based on the leave duration.</a>
			</form><br>
        </div>
		</body>
	</font>
</center>
</html>
