<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css.css')}}">
	<title>Employee Salary Calculator Output</title>
	<ul>
		<li><a href="/">Add Employee</a></li>
	   <li><a href="/getemp">Search Employee</a></li>
	   <li><a href="/leave">Apply Leave</a></li>
	   <li><a href="/salary">Employee Salary Calculator</a></li>
	   <li><a href="/performance">Employee Performance Checking</a></li>
	   <li><a href="/attendance">Employee Leave Checking</a></li>
   </ul>
</head>
<center>
	<font style="font-family: avenir">
		<body style="background-image:url({{ url_for('static', filename='img/background.jpg')}})">
			<br><h1>Employee Salary Calculator</h1><br><br>
       			<form method="post" autocomplete="on" enctype="multipart/form-data" action="" style="border-style:solid;border-radius: 20px;padding: 15px;width: fit-content;">

			  		<a>Employee ID:<br/>
					<input name="id" style="font-size: 30px; text-align: center;" readonly type="number" value="{{id}}"></a><br><br><br>

                    <a>Employee Name:<br/>
                    <input name="fname" style="font-size: 30px; text-align: center;" readonly type="text" value="{{fname}}"></a> &nbsp;
					   <input name="lname" style="font-size: 30px; text-align: center;" readonly type="text" value="{{lname}}"></a><br><br><br>

			  		<a>You currently Salary is:<br>
					<input name="salary" style="font-size: 30px; text-align: center;" readonly type="number" value="{{salary}}"> </a><br><br><br>

					<table style="width: 30%;text-align:center">
						<tr>
							<td><button class="button buttonadd" >Back</button></td>
						</tr>
					</table>
			</form><br>
	</font>
</center>
</html>