<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Employee Salary Calculator Output</title>

    <div class="navbar">
        <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
           
           <div class="dropdown">
               <button class="dropbtn">Employee Management
                   <i class="fa fa-caret-down"></i>
               </button>
                   <div class="dropdown-content">
                    <a href="/addempPage">Add Employee</a>
                    <a href="/getemp">Search Employee</a>
                   </div>
           </div>
           <div class="dropdown">
               <button class="dropbtn">Employee Checking
                   <i class="fa fa-caret-down"></i>
               </button>
                   <div class="dropdown-content">
                       <a href="/salary">Employee Salary Calculator</a>
                       <a href="/performance">Employee Performance Checking</a>
                   </div>
           </div>
           <div class="dropdown">
               <button class="dropbtn">Leave Management
                   <i class="fa fa-caret-down"></i>
               </button>
                   <div class="dropdown-content">
                       <a href="/leave">Apply Leave</a>
                       <a href="/attendance">Employee Leave Checking</a>
                   </div>
           </div>
           <a href="/aboutus">About Us</a>
    </div>
</head>
<center>
	<font style="font-family: avenir">
		<body style="background-image:url({{ url_for('static', filename='img/background.jpg')}})">
			<br><h1>Employee Salary Calculator</h1><br><br>
       			<form method="post" autocomplete="on" enctype="multipart/form-data" action="/salary" style="border-style:solid;border-radius: 20px;padding: 15px;width: fit-content;">

			  		<a>Employee ID:<br/>{{id}}</a><br><br><br>

                    <a>Employee Name:<br/>{{name}}</a><br><br><br>

			  		<a>You Salary for {{date}} is:<br>RM{{salary}}</a><br><br><br>
					<a>Deducted RM{{deduct}} due to apply leave for {{num}} days in {{date}}</a>
					<br><a>Which are:</a><br><br>
					{% for row in list %}
					<a style="font-size: 23px;"><b>{{row[1]}}/{{row[2]}}/{{row[3]}}</b></a><br>
					{% endfor %}

					<br><br><br>
					<table style="width: 30%;text-align:center">
						<tr>
							<td><button class="button buttonadd" >Back</button></td>
						</tr>
					</table>
			</form><br>
	</font>
</center>
</html>