<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css.css')}}">
	<title>Employee Information</title>
</head>
<center>
	<font style="font-family: avenir">

		<h1>Employee Information</h1>

		<body  style="background-image:url({{ url_for('static', filename='img/background.jpg')}})">

			<form method="post" autocomplete="on" enctype="multipart/form-data" action="/updateEmpPage">

			  		<a style="font-size: 30px;">Employee ID:</a><br/>
					<input name="id" style="font-size: 30px; text-align: center;" readonly type="number" value="{{id}}"><br><br><br>

			  		<a style="font-size: 30px;">First Name:<br></a>
					<input name="fname" style="font-size: 30px; text-align: center;" readonly type="text" value="{{fname}}"><br><br><br>

			  		<a style="font-size: 30px;">Last Name:<br></a>
					<input name="lname" style="font-size: 30px; text-align: center;" readonly type="text" value="{{lname}}"><br><br><br>

			  		<a style="font-size: 30px;">Primary Skill:<br></a>
					<input name="skill" style="font-size: 30px; text-align: center;" readonly type="text" value="{{interest}}"><br><br><br>

			  		<a style="font-size: 30px;">Location:<br> </a>
					<input name="location" style="font-size: 30px; text-align: center;" readonly type="text" value="{{location}}"><br><br><br>

			  		<a style="font-size: 30px;">Image URL:<br> 
					<img src="{{ image_url }}"> </a><br><br><br>
					
					<table style="width: 30%;text-align:center">
						<tr>
							<td><button type="submit" style="border-radius: 10px;font-size: 15px;background: #5cd65c; height: 45px; width: 200px; color:black; font:oblique;">UPDATE</button></td>
							<td><button formaction="/deleteEmp" type="submit" style="border-radius: 10px;font-size: 15px;background: #ff471a; height: 45px; width: 200px; color:black; font:oblique;">DELETE</button></td>
						</tr>
					</table>
					
				
			  

			</form>

		</body>

	</font>
</center>
</html>
