<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Get Employee Information Output</title>

    <div class="navbar">
        <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
           
           <div class="dropdown">
               <button class="dropbtn">Employee Management
                   <i class="fa fa-caret-down"></i>
               </button>
                   <div class="dropdown-content">
                    <a href="/addempPage">Add Employee</a>
                    <a href="/getemp">Search Employee</a>
                   </div>
           </div>
           <div class="dropdown">
               <button class="dropbtn">Employee Checking
                   <i class="fa fa-caret-down"></i>
               </button>
                   <div class="dropdown-content">
                       <a href="/salary">Employee Salary Calculator</a>
                       <a href="/performance">Employee Performance Checking</a>
                   </div>
           </div>
           <div class="dropdown">
               <button class="dropbtn">Leave Management
                   <i class="fa fa-caret-down"></i>
               </button>
                   <div class="dropdown-content">
                       <a href="/leave">Apply Leave</a>
                       <a href="/attendance">Employee Leave Checking</a>
                   </div>
           </div>
           <a href="/aboutus">About Us</a>
    </div>
</head>
<center>
	<font style="font-family: avenir">
		<body  style="background-image:url({{ url_for('static', filename='img/background.jpg')}})">
		<br><h1>Employee Information</h1><br><br>
			<form method="post" autocomplete="on" enctype="multipart/form-data" action="/updateEmpPage">

			  		<a style="font-size: 30px;">Employee ID:<br/>
					<input name="id" style="font-size: 30px; text-align: center;" readonly type="number" value="{{id}}"></a><br><br><br>

			  		<a style="font-size: 30px;">First Name:<br>
					<input name="fname" style="font-size: 30px; text-align: center;" readonly type="text" value="{{fname}}"></a><br><br><br>

			  		<a style="font-size: 30px;">Last Name:<br>
					<input name="lname" style="font-size: 30px; text-align: center;" readonly type="text" value="{{lname}}"></a><br><br><br>

			  		<a style="font-size: 30px;">Primary Skill:<br>
					<input name="skill" style="font-size: 30px; text-align: center;" readonly type="text" value="{{interest}}"></a><br><br><br>

			  		<a style="font-size: 30px;">Location:<br>
					<input name="location" style="font-size: 30px; text-align: center;" readonly type="text" value="{{location}}"></a><br><br><br>

			  		<a style="font-size: 30px;">Image:<br>
					<img src="{{ image_url }}" width="500px" height="500px"> </a><br><br><br>
					
					<table style="width: 30%;text-align:center">
						<tr>
							<td><button class="button buttonadd" type="submit">Update</button></td>
							<td><button class="button buttondelete" formaction="/deleteEmp" type="submit">Delete</button></td>
						</tr>
					</table>
			</form><br>

		</body>

	</font>
</center>
</html>
