	<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css.css')}}">
	<title>Success Message</title>

	<!-- nav bar -->
	<ul>
		<li><a href="/">Add Employee</a></li>
	   <li><a href="/getemp">Search Employee</a></li>
	   <li><a href="/leave">Apply Leave</a></li>
	   <li><a href="/salary">Employee Salary Calculator</a></li>
	   <li><a href="/performance">Employee Performance Checking</a></li>
	   <li><a href="/attendance">Employee Leave Checking</a></li>
   </ul>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">
		<body style="background-image:url({{ url_for('static', filename='img/background.jpg')}})">
		<br><h1 style="color: black;">{{msg}}</h1><br><br>
			<form>
				<button class="button buttonadd" formaction="/">Back To HomePage</button><br><br>
			</form><br>
		</body>
	</font>
</center>
</html>
